.devise__form__main
  %ul.devise__form__main__ul
    %h2.log__in__text 
      Signup
      = link_to new_user_session_path do
        %button.sign__up Log_in
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      %li.devise__form__main__ul__li
        = f.label :nickname
        %br/
        = f.text_field :nickname, autofocus: true, autocomplete: "nickname"
      %li.devise__form__main__ul__li
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      %li.devise__form__main__ul__li
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "new-password"
      %li.devise__form__main__ul__li
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      %li.devise__form__main__ul__li__btn 
        = f.submit "Sign up"
    -# = render "devise/shared/links"
