.main__container
  .main__container__header
    - unless @project.present? || @context.present?
      .main__container__header__name
        %label.main__container__header__name__label
          ただいまのページ
        %p.main__container__header__name__p
          トップページ
    - if @project.present?
      .main__container__header__name
        %label.main__container__header__name__label
          プロジェクト名
        %p.main__container__header__name__p
          = @project.title
    - if @context.present?
      .main__container__header__name
        %label.main__container__header__name__label
          コンテクスト名
        %p.main__container__header__name__p
          = @context.title
          
  %main.main__container__body
    %span.main__container__body__top
      重要度高
    %span.main__container__body__right
      緊急度高
    %span.main__container__body__left
      緊急度低
    %span.main__container__body__bottom
      重要度低
    %nav.main__container__body__matrix
      .main__container__body__matrix__square
        %ul.main__container__body__matrix__square__upper__left__ul
          - @todos_upper_left.each do |todo_upper_left|
            %li.main__container__body__matrix__square__upper__left__ul__li
              %i.main__container__body__matrix__square__upper__left__ul__li__icon
                = link_to done_todo_path(todo_upper_left.id),method: "post", class: "main__container__body__matrix__square__upper__left__ul__li__icon--link" do
                  .fa.fa-check-circle
              %section.main__container__body__matrix__square__upper__left__ul__li__section
                = link_to edit_todo_path(todo_upper_left.id), class: "main__container__body__matrix__square__upper__left__ul__li__section--link" do
                  %p.main__container__body__matrix__square__upper__left__ul__li__section--title
                    = todo_upper_left.title
                  %p.main__container__body__matrix__square__upper__left__ul__li__section--deadline
                    = " 締め切り　　#{todo_upper_left.deadline}"
        %ul.main__container__body__matrix__square__upper__right__ul
          - @todos_upper_right.each do |todo_upper_right|
            %li.main__container__body__matrix__square__upper__right__ul__li
              = todo_upper_right.title
        %ul.main__container__body__matrix__square__lower__left__ul
          - @todos_lower_left.each do |todo_lower_left|
            %li.main__container__body__matrix__square__lower__left__ul__li
              = todo_lower_left.title
        %ul.main__container__body__matrix__square__left__right__ul
          - @todos_lower_right.each do |todo_lower_right|
            %li.main__container__body__matrix__square__left__right__ul__li
              = todo_lower_right.title
        
          
