.index-container__side
  %nav.side__bar
    %ul.side__bar__header
      = link_to root_path ,class: "side__bar__link" do
        %li.side__bar__header--logo
          top
      = link_to root_path, class: "side__bar__link" do
        %li.side__bar__header--username
          %span #{current_user.nickname}
    %ul.side__bar__main__ul
      = link_to root_path, class: "side__bar__link" do
        %li.side__bar__main__ul__li
          %span 作成順に表示
      = link_to deadline_todos_path, class: "side__bar__link" do
        %li.side__bar__main__ul__li
          %span 締め切り順に表示
      = link_to done_index_todos_path, class: "side__bar__link" do
        %li.side__bar__main__ul__li
          %span 完了一覧
      = link_to new_todo_path, class: "side__bar__link" do
        %li.side__bar__main__ul__li
          %span to doを追加
      = link_to edit_user_registration_path, class: "side__bar__link" do
        %li.side__bar__main__ul__li
          %span ユーザー編集
      = link_to destroy_user_session_path, class: "side__bar__link", method: 'delete' do
        %li.side__bar__main__ul__li
          %span ログアウト
      -# = link_to new_user_session_path, class: "side__bar__link" do
      -#   %li.side__bar__main__ul__li
      -#     %span ログインページ
      -# = link_to new_user_registration_path, class: "side__bar__link" do
      -#   %li.side__bar__main__ul__li
      -#     %span 新規ユーザー登録画面
