.index-container__side
  %nav.side__bar
    %ul.side__bar__header
      = link_to root_path ,class: "side__bar__link" do
        %li.side__bar__header--logo
          top
      = link_to root_path, class: "side__bar__link" do
        %li.side__bar__header--username
          %span username
    %ul.side__bar__main__ul
      = link_to root_path, class: "side__bar__link" do
        %li.side__bar__main__ul__li
          %span マトリックス
      = link_to root_path, class: "side__bar__link" do
        %li.side__bar__main__ul__li
          %span プロジェクト
      = link_to root_path, class: "side__bar__link" do
        %li.side__bar__main__ul__li
          %span コンテクスト
      = link_to root_path, class: "side__bar__link" do
        %li.side__bar__main__ul__li
          %span 締め切り一覧
      = link_to root_path, class: "side__bar__link" do
        %li.side__bar__main__ul__li
          %span to doを追加する
      = link_to root_path, class: "side__bar__link" do
        %li.side__bar__main__ul__li
          %span ログアウト
