.index-container__side
  %nav.side__bar
    %ul.side__bar__header
      = link_to root_path ,class: "side__bar__link" do
        %li.side__bar__header--logo
          top
      = link_to root_path, class: "side__bar__link" do
        %li.side__bar__header--username
          username
    %ul.side__bar__main__ul
      = link_to root_path, class: "side__bar__link" do
        %li.side__bar__main__ul__li
          matrix
      = link_to root_path, class: "side__bar__link" do
        %li.side__bar__main__ul__li
          projects
      = link_to root_path, class: "side__bar__link" do
        %li.side__bar__main__ul__li
          context
      = link_to root_path, class: "side__bar__link" do
        %li.side__bar__main__ul__li
          deadline
