.devise__form__main
  %ul.devise__form__main__ul
    %h2.log__in__text 
      ログイン
      = link_to new_user_registration_path do
        %button.sign__up 新規登録
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      %li.devise__form__main__ul__li
        = f.label :メールアドレス
        %br/
        = f.email_field :email, value: "p@p",autofocus: true, autocomplete: "email", class: "devise__form__main__ul__li--text"
      %li.devise__form__main__ul__li
        = f.label :パスワード
        %br/
        = f.password_field :password, value: "111111",autocomplete: "current-password", class: "devise__form__main__ul__li--text"
        %br/
        %em
          ※6文字以上
      -# - if devise_mapping.rememberable?
      -#   %li.devise__form__main__ul__li
      -#     = f.check_box :remember_me
          -# = f.label :remember_me
      %li.devise__form__main__ul__li__btn
        = f.submit "ログイン", class: "devise__form__main__ul__li__btn--text"

   