.main
  = render 'shared/side-bar'

  = form_with model: @todo, locate: true do |f|
    .form__group
      = f.label "タスク名："
      = f.text_field :title, placeholder: "タスク名　※必須"
    .form__group
      = f.label "緊急度："
      = f.radio_button :urgency, "high"
      = f.label "高い"
      = f.radio_button :urgency, "low"
      = f.label "低い"
    .form__group
      = f.label "重要度："
      = f.radio_button :importance, "high"
      = f.label "高い"
      = f.radio_button :importance, "low"
      = f.label "低い"
    .form__group
      = f.label "締め切り："
      = f.text_field :deadline, type: "date"
    = fields_for (@project) do |p|
      .form__group
        = p.label "プロジェクト："
        = p.text_field :title, value: "#{@todo_project.title}"if present?
    = fields_for (@context) do |c|
      .form__group
        = c.label "コンテクスト："
        = c.text_field :title, value: "#{@todo_context.title}"if present?
    .form__group
      = f.label "備考："
      = f.text_field :content
    .form__group
      = f.submit "更新する"
    